.contactBlock {
    background-color: darkgray;
    min-height: 50vh;
}

.contactContainer {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 5px;
}

.contactForm {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
}

.textarea {
    resize: none;
}

.send {
    background-color: deepskyblue;
    height: 70px;
    width: 200px;
    line-height: 70px;
}