.mainBlock {
    background-color: lightblue;
    min-height: 100vh;
}

.greeting {
    width: 300px;
    background-color: firebrick;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: deepskyblue;
}