.footerBlock {
    background-color: slateblue;
    min-height: 30vh;

}

.footerContainer {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    text-align: center;
}

.socials {
    min-width: 280px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.socialLink {
    background-color: deepskyblue;
    height: 40px;
    width: 40px;
}

.rights {
    background-color: sandybrown;
}